@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap%27");

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand&display=swap");

:root {
  --my-background: linear-gradient(170deg, #048b9a, #6b8e92);
  --my-nav: #96c3ca;
  --my-nav-shadow: #8ab7be;
  --my-a: #445353;
  --my-a-hover: #2e006c;
}

* {
  font-family: Arial, sans-serif;
}

body {
  background: var(--my-background);
  width: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  background-color: var(--my-nav);
  min-width: 60%;
  border-radius: 15px;
  padding: 0px;
  box-shadow: var(--my-nav-shadow) 5px 5px 5px;
  margin-right: 5%;
  margin-left: 40%;
}

header nav ul li {
  padding: 1%;
  width: 25%;
  text-align: center;
}

header nav ul li a {
  text-decoration: none;
  color: var(--my-a);
  padding: 2%;
  font-size: 1.8em;
}

header nav ul li a:hover {
  color: var(--my-a-hover);
}
header nav li.dropDownProjet {
  position: relative;
}

header nav li div.dropDownProjetContenue {
  display: none;
  position: absolute;
  z-index: 20;
  box-shadow: 4px 3px 3px #898989;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--my-nav);
  top: 100%;
  width: 100%;
  height: 90%;
  box-shadow: var(--my-nav-shadow) 5px 5px 5px;
}

header nav li.dropDownProjet:hover div.dropDownProjetContenue {
  display: block;
}

header nav ul #actif {
  color: var(--my-a-hover);
}

header nav ul #actif:hover {
  color: var(--my-a);
}

main div.header {
  height: 80px;
}

main h1#presentation {
  font-size: 3em;
}

main h1#presentation + h2 {
  font-size: 2em;
  margin-left: 48%;
}

main .box-pages {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

main .pages {
  margin: 0px 2%;
  padding: 2%;
  border-radius: 15px;
  background-color: var(--my-nav);
  border: 2px solid var(--my-a);
  box-shadow: var(--my-nav-shadow) 5px 5px 80px;
  text-decoration: none;
}

main div.elementImportant {
  text-align: center;
  position: relative;
  background-color: var(--my-nav);
  border-radius: 15px;
  height: 615px;
  width: 470px;
  margin: 10% 15% 10% 5%;
}

footer {
  margin-top: 2%;
  position: relative;
  min-width: 30%;
  bottom: 20px;
}

footer nav ul {
  display: flex;
  padding: 0px;
  justify-content: space-evenly;
  width: 50%;
  background-color: var(--my-nav);
  border-radius: 15px;
  box-shadow: var(--my-nav-shadow) 5px 5px 5px;
}

footer nav ul li {
  list-style: none;
}

footer nav ul li a {
  text-decoration: none;
  color: var(--my-a);
  margin: 0px 15px;
  font-size: 2em;
}

footer nav ul li a:hover {
  color: var(--my-a-hover);
}

/*fin index*/

/********MAIN*******/
@media all and (max-width: 1080px) {
  main.cv {
    flex-wrap: wrap !important;
  }
}

@media screen and (min-width: 600px) {
  main.cv ul {
    flex-direction: row;
  }
}

main.cv {
  display: flex;
  gap: 10px;
  /*flex-wrap: wrap-reverse;*/
  width: 95%;
  margin: 20px;
  min-height: 700px;
}

main.cv article {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #405f581c;
  border-radius: 10px;
  padding-left: 15px;
  background-color: var(--my-nav);
  padding: 1%;
  margin: 1%;
  box-shadow: var(--my-nav-shadow) 3px 3px 3px;
}

/*Aside*/
main.cv aside {
  min-height: 400px;
  max-height: 500px;
  min-width: 400px;
  max-width: 400px;
  align-items: center;
  background-color: var(--my-nav);
  /*border: thick double #221546;
    border-radius: 15px;*/
  border-radius: 10px;
  flex-wrap: wrap;
  margin: 15px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--my-nav-shadow) 3px 3px 3px;
}

main.cv aside img {
  width: 50%;
  margin: 1em 5em;
}

/***********Me connaitre ***************/

/* === Moi === */

main.cv .moi {
  display: flex;
  justify-content: center;
}

main.cv .meConnaitre {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

main.cv .meConnaitre:after,
.meConnaitre:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #34c954;
  border-top: 1px solid #012508;
  height: 5px;
  background-color: #849787;
}

/* === HEADING STYLE #3 === */

main.cv .titresMeconnaitre {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}
main.cv .titresMeconnaitre:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
main.cv .titresMeconnaitre:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}

/* === Formations === */
main.cv .formations {
  margin: 0;
  width: 60%;
}

main.cv .datesFormations {
  font-weight: bold;
  color: #467ec7;
  font-size: 20px;
}

/* === Compétences === */

main.cv .competences {
  margin: 0;
}

main.cv .competences li {
  color: #8d4a30;
  font-weight: bold;
}

/* === Expériences === */
main.cv .listeExperiences {
  display: flex;
  flex-direction: column;
}

main.cv .experiences {
  margin-left: 15px;
}

main.cv .texteExperiences {
  margin-left: 35px;
  font-size: 17px;
}

main.cv p {
  margin: 0;
  font-size: 20px;
}

/* === Centre intérêts === */

main.cv .texteCentreInterets {
  margin: 0;
  margin-left: 10px;
  width: 60%;
  font-size: 17px;
}

/*debut projet*/

/*nav projet*/

main.Projet label#checkNavLab {
  width: 8%;
  height: 5%;
  position: fixed;
  background-color: var(--my-nav);
  border-radius: 15px;
  bottom: 20px;
  right: 20px;
  text-align: center;
  user-select: none;
  border: 0.3em solid var(--my-nav-shadow);
  box-shadow: var(--my-nav-shadow) 5px 5px 5px;
}

main.Projet label#checkNavLab p {
  margin: 0px;
}

main.Projet input {
  display: none;
}

main.Projet #checkNav:checked ~ aside.minimenu {
  display: none;
}

main.Projet #checkNavLab p::before {
  content: "Cacher accès rapide";
}

main.Projet #checkNav:checked ~ #checkNavLab p::before {
  content: "Afficher accès rapide";
}

main.Projet aside {
  margin: 1em;
}

main.Projet aside.minimenu {
  display: inline;
  width: max-content;
  min-width: 30%;
  padding: 1% 2%;
  border-radius: 15px;
}

main.Projet ul {
  list-style: none;
  padding-left: 20px;
}

main aside section.minimen {
  top: 30px;
  position: sticky;
  background-color: var(--my-nav);
  width: 100% !important;
  height: min-content;
  padding: 0% 0% 1% 1% !important ;
  border-radius: 15px;
  box-shadow: var(--my-nav-shadow) 5px 5px 5px;
}

main aside ul li div.accordeon p {
  bottom: 0px;
  left: -25px;
  margin: 0px;
}

main aside ul li div.accordeon ul {
  padding-left: 0px;
}

main aside ul div.accordeon {
  position: relative;
}

main aside ul div.accordeon .btnsize {
  display: none;
}

main aside ul div.accordeon .contenue_accordeon {
  display: none;
  margin-left: 10px;
}

main aside ul div.accordeon label:hover > p {
  text-decoration: underline;
}

main aside ul div.accordeon .btnsize:checked + label > .contenue_accordeon {
  text-align: center;
  color: rgba(40, 40, 40, 0.9);
  display: block;
}

main aside ul div.accordeon .contenue_accordeon ul {
  list-style: none;
  margin-block: 0px;
  padding: 0px;
}

main aside ul div.accordeon p {
  text-align: center;
}

main aside ul li div.accordeon div.contenue_accordeon ul li a.lien_rapide {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

main
  aside
  ul
  li
  div.accordeon
  div.contenue_accordeon
  ul
  li
  a.lien_rapide:hover {
  text-decoration: underline;
}

main aside ul li div.accordeon a {
  text-decoration: none;
  color: black;
}

main aside ul li div.accordeon a:hover {
  text-decoration: underline;
  color: #ff6f7d;
}

/*fin nav projet*/
/*debut projet*/
main.Projet {
  display: flex;
}

main.Projet aside section article div#ProjetText {
  background-color: var(--my-nav);
  padding: 1%;
  margin: 1%;
  border-radius: 15px;
  box-shadow: var(--my-nav-shadow) 5px 5px 5px;
}

main aside section h3 {
  text-align: center;
}

main aside section div.contenue_an {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  max-width: 1180px;
  background-color: var(--my-nav);
  border-radius: 15px;
  box-shadow: var(--my-nav-shadow) 5px 5px 5px;
}

main aside section div.contenue_an div {
  position: relative;
  margin: 20px;
  border-radius: 15px;
}

main aside section div.contenue_an div img {
  border-radius: 5%;
  width: 293px;
  height: 100%;
}

main aside section div.contenue_an div aside {
  position: absolute;
  background-color: black;
  padding: 1em;
  border: 1px solid black;
  bottom: -16px;
  left: -16px;
  width: 88.5%;
  border-radius: 0px 0px 11px 11px;
  opacity: 50%;
  height: 30px;
}

main aside section div.contenue_an div a:hover > aside {
  opacity: 90%;
}

main aside section div.contenue_an div p {
  position: absolute;
  bottom: -10px;
  left: 2%;
  text-align: center;
  width: 280px;
  color: white;
}

main aside section div.s13_capture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

main aside section div.s13_capture img {
  width: 300px;
  margin: 0px;
  padding: 0px;
}

#placeholder {
  visibility: hidden;
  display: none;
}

/*Fin projet text*/
/*changer dans le future*/
#future {
  visibility: hidden;
  display: none;
}
/*fin projet*/
/*CV*/
main aside section#cv {
  margin: 0px 5%;
}

main aside section.en-tete {
  display: flex;
}

main aside section.en-tete div.en-tete_info {
  background-color: var(--my-nav);
  margin-left: 5%;
  border-radius: 15px;
  padding: 0px 1%;
  box-shadow: 5px 5px 10px var(--my-nav-shadow);
}

main aside section.en-tete:nth-child(1) h1 {
  font: 2em;
  margin: 2.2em;
}

main aside section div.Arrow {
  width: 30%;
  background-color: var(--my-nav);
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px var(--my-nav-shadow);
  margin-top: 2%;
}

main aside section div.text_cv {
  margin-bottom: 3%;
}

main aside section div.Arrow h2 {
  font-size: 100%;
  margin-left: 5%;
}

main aside section div.Arrow div.bare_separation {
  border-bottom: var(--my-nav) 5px solid;
  width: 200%;
  display: table-cell;
  height: 2px;
  position: absolute;
  bottom: 50%;
  left: 110%;
}

main section#cv div.text_cv div#affichage_cv {
  display: flex;
}

main section#cv div.text_cv div#affichage_cv :first-child {
  margin-right: 20px;
}

main section#cv div.text_cv div#affichage_cv a {
  color: var(--my-a);
  text-decoration: underline;
}

main section#cv div.text_cv div#affichage_cv a:hover {
  color: #ff6f7d;
}

/*Fin cv*/
/*debut contact*/

/*bootstrap*/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1140px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.form-group {
  margin-bottom: 1rem;
}

/*fin contact*/
/*Responsive*/

@media (max-width: 1080px) {
  * {
    box-sizing: border-box;
  }

  /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

  body {
    width: auto;
    margin: 0;
    padding: 0;
  }

  header nav ul {
    max-width: 50% !important;
  }

  header nav ul li a,
  footer nav ul li a,
  main.Projet section.minimen,
  main div div.nom {
    font-size: small;
  }

  body main label#checkNavLab p {
    font-size: 7px;
  }

  main div.presentation div.imgMoi,
  main div.presentation div.elementImportant {
    margin: 2.5%;
  }

  main div.presentation div.imgMoi img {
    width: 100%;
    height: auto;
  }

  main div.presentation div.elementImportant {
    width: 50%;
    height: auto;
  }

  main.Projet aside section div img#s13_1 {
    margin-left: 0px;
  }

  main.Projet aside section article div.s13_capture img:hover,
  main.Projet aside section div img#s13_1:hover {
    transform: scale(1);
  }

  main.Projet aside section div.contenue_an div aside {
    width: 100%;
  }
  main.Projet aside section div.contenue_an div aside p {
    width: 100%;
    font-size: 12px;
  }

  main.Projet #checkNavLab p::before {
    content: "Cacher";
  }

  main.Projet #checkNav:checked ~ #checkNavLab p::before {
    content: "Afficher";
  }

  main.Projet label#checkNavLab {
    border: 1px solid var(--my-nav-shadow);
    box-shadow: var(--my-nav-shadow) 1px 1px 1px;
  }
  main aside section.en-tete:nth-child(1) h1 {
    font-size: medium;
  }

  main aside section.en-tete div.en-tete_info {
    font-size: small;
  }

  main aside section div.Arrow {
    font-size: small;
    width: 50%;
  }

  main aside section div.Arrow div.bare_separation {
    width: 100%;
  }

  main aside section#cv p {
    font-size: small;
  }

  main aside section div.contenue_an {
    display: block;
  }

  main aside section div.contenue_an div aside {
    bottom: -13px;
  }

  footer nav ul {
    width: 100%;
  }

  /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

  img,
  table,
  td,
  blockquote,
  code,
  pre,
  textarea,
  input,
  iframe,
  object,
  embed,
  video {
    max-width: 100%;
  }

  /* conserver le ratio des images */

  img {
    height: auto;
  }

  /* gestion des mots longs */

  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    -webkit-hyphens: auto; /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; /* passage à la ligne forcé */
  }

  code,
  pre,
  samp {
    white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
  }

  /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

  .element1,
  .element2 {
    float: none;
    width: auto;
  }

  /* masquer/afficher les éléments  */

  .u-mobile {
    display: block;
    display: revert !important; /* affichage des éléments */
  }
  .u-no-mobile {
    display: none !important; /* masquage des éléments */
  }

  /* Un message personnalisé */

  body:before {
    content: "Version mobile du site";
    display: block;
    text-align: center;
    font-style: italic;
    color: #777;
  }
}

@media (max-device-width: 768px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}
